.header{
display:flex;
align-items:center;
justify-content:space-between;
}

.logos img{
height:60px;
margin-right:20px;
}

.title{
text-align:right;
}

.separator{
height:6px;
background:#0072B2;
margin:20px 0;
}

.page{
display:none;
}

.mainbtn{
background:#4aa3df;
color:white;
border:none;
padding:20px;
margin:10px;
font-size:18px;
border-radius:8px;
cursor:pointer;
}

.mainbtn:hover{
background:#2b7fbf;
}

#home{
display:flex;
flex-wrap:wrap;
justify-content:center;
}